h1 {
  color:blue;
  text-align:center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}
ol {
  margin:0;
  padding:0;
  overflow: hidden;
}
li {
  float: left;
}
li a {
 display: block;
  color: white;
  text-align: center;
 text-decoration: none; 
 padding:12px 16px;
}
li a: hover {
  background-color: #111;
}
.active {
  background-color: greenyellow;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px ;
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content{
  display: block; 
}